.navbarMainDiv{
    display: flex;
    justify-content: space-between;
    height: 10%;
    box-sizing: border-box;
    padding: 15px 10px;
    border-bottom: 3px solid rgba(158, 158, 158, 0.171);
    box-shadow:#000000;
}
#titleTxt{
    font-family: "Unica One";
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;
    margin-left:5px;
    letter-spacing: -0.86px;
    color: #000000;
    text-shadow: 0px 3px 6px #70707029;
}
.navbarLeftDiv,.navbarRightDiv{
    display: flex;
    align-items: center;
}
.navbarLeftDiv,.navbarRightDiv{
    width: 50%;
}
.navbarRightDiv{
    justify-content: space-between;
}
.navbarLink{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.831);
    margin-left: 20px;
    font-family: "Archivo Black";
    /* font-family: "Helvetica";
    color: black; */
    font-size: 16px;
    letter-spacing: 0.1px;
    text-shadow: 0px 3px 6px #ffffff29;
}

.navbarLinkActive{
    background-color: #FF6728;
    color:white; 
    font-weight: bold;  
    padding:5px 15px;
    box-shadow:0px 3px 2px #FF6728 ;
}
/* resposive */
@media screen and (max-width: 1920px){
    .navbarLeftDiv{
        width:50%;
    }
    .navbarRightDiv{
        width: 50%;
    }
    .navbarLink{
        font-size: 20px;
    }
    #titleTxt{
        font-size: 24px;
    }
}
@media screen and (max-width: 1536px){
    .navbarLeftDiv,.navbarRightDiv{
        width: 50%;
    }
    .navbarLink{
        font-size: 16px;
    }
    #titleTxt{
        font-size: 22px;
    }
}