.schemaImgDiv{
    /* height: fit-content; */
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    box-sizing: border-box;
    padding-top: 20px;
    justify-content: center;
}
@media screen and (max-width: 1920px){
    .dgImg{
        height: 1500px;
    }
}
@media screen and (max-width: 1536px){
    .dgImg{
        height: 1200px;
    }
}