.workflowsImgsDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.workflowsImgsDiv div{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}
.workflowImg{
    padding:10px;
    border: radius 10px; ;
    margin-bottom: 15px;
    /* border: 15px solid #FFB596;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

    box-shadow: #FF6728 -5px 5px 5px;
    border-top:1px solid rgb(218, 218, 218);
    border-right:1px solid rgb(218, 218, 218);
    border-bottom:1px solid rgb(218, 218, 218);
} 
.workflowName{
    font-family: "Chivo Mono";
}
@media screen and (max-width: 1920px){
    .workflowImg{
        height:450px; 
        width:600px;
    }
    .workflowName{
        font-size:24px;
    }
}
@media screen and (max-width: 1536px){
    .workflowImg{
        height:300px; 
        width:450px;
    }
    .workflowName{
        font-size:18px;
    }
}