.contentDiv{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: green; */
    height: 100%;
}
.pageHeadingTxt{
    font-size: 70px;
    /* font-weight: bold; */
    font-family: "Archivo Black";
    text-shadow: 0px 3px 6px #00000029;
    margin-left: 10px;
}
.bottomTopDiv{
    display: flex;
    align-items: center;
    height: 15%;
    padding:10px 15px;
    font-family:"Oswald"
}
.bottomBottomDiv{
    height: 100%;
    box-shadow : #D3F278;
    position: relative;
    /* background-color: red; */
}
