.App{
  display: flex;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  /* background-color: rgb(51, 51, 51); */
}
.websiteMainDiv{
    width: 100%;
    box-sizing: border-box;
    /* border:1px solid black; */
    /* background-color: #D3F278; */
}
.appBottomDiv{
  height: 90%;

}