body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  margin-block:0.1em;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(183, 183, 183);
  border-radius: 100vw;
}